
.glare{
  position: absolute;
   top: 50%;
    left: 50%;
     transform-origin: 0% 0%;
      pointer-events: none;
       width: 715.891px;
        height: 715.891px;
         transform: rotate(0deg) translate(-50%, -50%);
          opacity: 0;
           background: linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, rgb(117, 111, 111) 100%);
            transition: opacity 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
}

.main{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  
}
.icon{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: #ffffff;
  margin: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 5px 10px 20px black;
  transition: all .3s ease-out;
  
  
}
.icon:hover{
  width: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;

}
.icon:hover i{
  color: white;
}
.icon .fa-instagram{
  color:  #d6249f;
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  
}
.insta:hover{
  background: #d6249f;
  background: radial-gradient( circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

}
.icon .fa-twitter{ 
  color: #1da1f2;;
}
.twt:hover {
  background: #1da1f2;
}
.icon .fa-github{ 
  color:  #141414;
}
.git:hover{
  background: #141414;
}
.icon .fa-discord{
  color:#7289d9 ;
}
.dis:hover{
  background: #7289d9;
}
.icon .fa-whatsapp{
  color: green;

}
.yt:hover{
  background: green;
}
.fancy-undeline {
    background-image: linear-gradient(120deg, #ffffff,#00070e 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 50%;
    transition: background-size 0.25s ease-in;
  }

  .fancy-undeline:hover {
    background-size: 100% 88% !important;
  }

  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 103.78571428571428,130.89285714285714 207.57142857142856,136.78571428571428 350,145 C 492.42857142857144,153.21428571428572 673.4999999999999,163.75 781,151 C 888.5000000000001,138.25 922.4285714285713,102.21428571428571 1020,94 C 1117.5714285714287,85.78571428571429 1278.7857142857142,105.39285714285714 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    25%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 98.10714285714286,136.39285714285714 196.21428571428572,147.78571428571428 306,160 C 415.7857142857143,172.21428571428572 537.2499999999999,185.25 668,169 C 798.7500000000001,152.75 938.7857142857144,107.21428571428572 1069,95 C 1199.2142857142856,82.78571428571428 1319.6071428571427,103.89285714285714 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    50%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 93.89285714285714,132.39285714285714 187.78571428571428,139.78571428571428 295,136 C 402.2142857142857,132.21428571428572 522.75,117.25 674,110 C 825.25,102.75 1007.2142857142858,103.21428571428572 1140,107 C 1272.7857142857142,110.78571428571428 1356.392857142857,117.89285714285714 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    75%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 141.17857142857144,125.57142857142857 282.3571428571429,126.14285714285714 399,121 C 515.6428571428571,115.85714285714286 607.7499999999999,105 701,105 C 794.2500000000001,105 888.6428571428573,115.85714285714286 1012,121 C 1135.3571428571427,126.14285714285714 1287.6785714285713,125.57142857142857 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    100%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 103.78571428571428,130.89285714285714 207.57142857142856,136.78571428571428 350,145 C 492.42857142857144,153.21428571428572 673.4999999999999,163.75 781,151 C 888.5000000000001,138.25 922.4285714285713,102.21428571428571 1020,94 C 1117.5714285714287,85.78571428571429 1278.7857142857142,105.39285714285714 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
  }


  .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 84.78571428571428,262.2142857142857 169.57142857142856,274.42857142857144 295,272 C 420.42857142857144,269.57142857142856 586.4999999999999,252.50000000000003 718,237 C 849.5000000000001,221.49999999999997 946.4285714285716,207.57142857142856 1061,210 C 1175.5714285714284,212.42857142857144 1307.7857142857142,231.21428571428572 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    25%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 115,269.5357142857143 230,289.07142857142856 341,277 C 452,264.92857142857144 559.0000000000001,221.25000000000003 694,217 C 828.9999999999999,212.74999999999997 992,247.92857142857144 1121,260 C 1250,272.07142857142856 1345,261.0357142857143 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    50%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 125.14285714285714,232.75 250.28571428571428,215.5 357,210 C 463.7142857142857,204.5 552,210.75000000000003 679,225 C 806,239.24999999999997 971.7142857142858,261.5 1105,267 C 1238.2857142857142,272.5 1339.142857142857,261.25 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    75%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 98.14285714285714,252.82142857142858 196.28571428571428,255.64285714285717 309,256 C 421.7142857142857,256.35714285714283 549,254.24999999999997 687,248 C 825,241.75000000000003 973.7142857142858,231.35714285714286 1101,231 C 1228.2857142857142,230.64285714285714 1334.142857142857,240.32142857142856 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    100%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 84.78571428571428,262.2142857142857 169.57142857142856,274.42857142857144 295,272 C 420.42857142857144,269.57142857142856 586.4999999999999,252.50000000000003 718,237 C 849.5000000000001,221.49999999999997 946.4285714285716,207.57142857142856 1061,210 C 1175.5714285714284,212.42857142857144 1307.7857142857142,231.21428571428572 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
  }

  .path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-2{
    0%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 91.89285714285714,379.17857142857144 183.78571428571428,383.35714285714283 319,384 C 454.2142857142857,384.64285714285717 632.75,381.75000000000006 751,380 C 869.25,378.24999999999994 927.2142857142858,377.64285714285717 1032,377 C 1136.7857142857142,376.35714285714283 1288.392857142857,375.67857142857144 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    25%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 88.10714285714286,368 176.21428571428572,361 318,359 C 459.7857142857143,357 655.25,360 785,359 C 914.75,358 978.7857142857142,353 1077,355 C 1175.2142857142858,357 1307.607142857143,366 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    50%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 101.67857142857142,393.57142857142856 203.35714285714283,412.14285714285717 337,409 C 470.64285714285717,405.85714285714283 636.25,381 753,373 C 869.75,365 937.6428571428571,373.85714285714283 1044,377 C 1150.357142857143,380.14285714285717 1295.1785714285716,377.57142857142856 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    75%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 116.96428571428572,360.3571428571429 233.92857142857144,345.7142857142857 340,335 C 446.07142857142856,324.2857142857143 541.2499999999999,317.5 670,334 C 798.7500000000001,350.5 961.0714285714287,390.2857142857143 1095,401 C 1228.9285714285713,411.7142857142857 1334.4642857142858,393.3571428571429 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    100%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 91.89285714285714,379.17857142857144 183.78571428571428,383.35714285714283 319,384 C 454.2142857142857,384.64285714285717 632.75,381.75000000000006 751,380 C 869.25,378.24999999999994 927.2142857142858,377.64285714285717 1032,377 C 1136.7857142857142,376.35714285714283 1288.392857142857,375.67857142857144 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
  }

.svgbg{
background-color: #555555;
background-image: url("material/wp2747935-black-4k-wallpapers.jpg");
background-attachment: fixed;
background-size: cover;
}

.py-4flex-col{
  background-color: #1da1f2;
  width: 30%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  
}

